@import 'tailwindcss';

@theme {
  --color-bone: #fffefc;
  --color-wool: #f9f6f0;
  --color-oatmeal-light: #e2d5c3;
  --color-oatmeal-dark: ##513b2a;
  --color-taupe: #bfa58a;
  --color-espresso: #3a2a1e;
  --color-pomegranate-light: #e6a1b6;
  --color-pomegranate: #c62f5c;
  --color-pomegranate-dark: #6b2238;
  --color-harbor-light: #8ec4e1;
  --color-harbor: #245f7f;
  --color-harbor-dark: #123040;
}

@layer base {
  body {
    color: var(--color-espresso);
  }
}
