@import 'tailwindcss';

@theme {
  --color-bone: #fdfdff;
  --color-text: #023334;
  --color-purple-white: #fdfdff;
  --color-green-light: #ebef9f;
  --color-green: #3e6e35;
  --color-pink-light: #fdb6b7;
  --color-pink: #991e41;
  --color-mint-light: #e1f4ed;
  --color-mint: #2c775c;
  --color-lilac-light: #cbcbed;
  --color-lilac: #2f2f89;
  --font-lexend: 'Lexend', sans-serif;
  --font-zilla-slab: 'Zilla Slab', serif;
}

@layer base {
  body {
    color: var(--color-text);
    font-family: var(--font-zilla-slab);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-lexend);
  }
}
